{% extends "main.html" %}
{% block content %}
<div class="content">
    <button class="button"><a href="{{ url_for('groups.create') }}">Create Group!</a></button>
</div>
{% if groups %}
<h2 class="title is-4">Group List</h2>
{% for group, owner in groups %}
<a href="{{ url_for('groups.profile', group_id=group.id) }}">
    <div class="box">
        <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <i class="fas fa-users"></i> <strong>{{group.name}} <{{group.id}}></strong>
                    <br>
                    <small>created by {{owner}}</small>
                    <br>
                    <br>
                    <!-- TODO: Replace all text within the class="content" with info from groups... -->
                    <!-- Description of Group.  -->
                </p>
            </div>
        </div>
        </article>
    </div>
</a>
{% endfor %}
{% endif %}
{% endblock %}
