nav {
    width: 100%;
    float: left;
    height: 70px;
}

nav li {
    display: inline;
    border: 2px;
    border-radius: 7px;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: #dd1a1a;
}

nav li:hover {
    border: 2px solid black;
    background-color: white;
}

nav li + li {
    margin-left: 25px;
}

nav li a {
    color: rgba(68, 68, 68, 0.938);
    text-decoration: none;
}

nav li.user-right {
    color: blueviolet;
    float: right;
    text-decoration: none;
}

.user-icon {
    width: 15px;
    height: 15px;
}

.page-container {
    position: relative;
    min-height: 100vh;
    margin: 0px;
}

.content-wrap {
    background-color: #ffffff00;
    padding-bottom: 2.5rem;
    margin: 0 auto;
    padding: 40px 30px 40px 30px;
    width: 1000px;
    min-height: 300px;
    color: white;
}

.container {
    width: 800px;
    clear: both;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    color: rgb(0, 0, 0);
}

.title{ 
    color: rgb(255, 255, 255)
} 


body {
	z-index: 1;
}

.snow {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	background-color: #1a1a30;
	background-image:
		url("https://s3-eu-west-1.amazonaws.com/static-ressources/s1.png"),
		url("https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png"),
		url("https://s3-eu-west-1.amazonaws.com/static-ressources/s3.png");
	z-index: -1;
	animation: snow 10s cubic-bezier(.45,.16,.42,.41), snow 8s 10s linear infinite;
}

@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1500px, 400px 800px, -300px 600px;
	}
}

h3 {
    color: blue;
}