body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
    margin-bottom: 30px;
}

footer {
    padding: 10px;
    height: 10px;
}

.box {
    margin: 10px;
}

.snow {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	background-color: #1a1a30;
	background-image:
		url("https://s3-eu-west-1.amazonaws.com/static-ressources/s1.png"),
		url("https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png"),
		url("https://s3-eu-west-1.amazonaws.com/static-ressources/s3.png");
	z-index: -1;
	animation: snow 10s cubic-bezier(.45,.16,.42,.41), snow 8s 10s linear infinite;
}

@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1500px, 400px 800px, -300px 600px;
	}
}

button a {
    color: inherit;
}
