{% extends "main.html" %}
{% block content %}
<div>
    Please enter a name!
    <form method="POST" action="{{ url_for('groups.create') }}">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" %}
    <p>
        {{ field.label }}
        <br>
        {{ field }}
        <span>
            {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
            {% endif %}
        </span>
    </p>
    <br>
    {% endfor %}
    <input type="submit" value="Enter">
    </form>
</div>
{% endblock %}
