{% extends "main.html" %}
{% block content %}
<div class="column is-4 is-offset-0">
  <form method="POST" action="/edit">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" and field.label != "password" %}
    <p>
        {{ field.label }} <br>
        {{ field }}
        <span>
          {% if field.errors %}
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <br>
    {% endfor %}
    <input type="submit" value="Enter">
  </form>
</div>
{% endblock %}
