<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Names</title>
        <style>
            table, th, td {
              border: 1px solid black;
              padding: 15px;
            }
            table {
              border-spacing: 5px;
            }
        </style>
    </head>
    <body>
        <form method="post" name="who_are_you">
        <p>
            <h3>Who are you ?</h3>
        </p>

        <table border="1">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Select</th>
              </tr>
            {% for elem in name_list %}
            <tr>
                <td>{{ elem.id }}</td>
                <td>{{ elem.val }}</td>
                <td><input type="radio" name="name_selection" value={{ elem.id }} id={{ elem.id }}
                    title="{{ elem.val }}" /></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><input type="submit" value="Select"></td>
              </tr>
        </table>
    </form>
    </body>
</html>