{% extends "main.html" %}
{% block content %}
<div class="container">
    <h2 class="title">Login</h2>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            <button class="delete"></button>
            {{ messages[0] }}
        </div>
        <br>
    {% endif %}
    {% endwith %}
    <div class="column is-4 is-offset-0">
        <form action="" method="POST">
            <input type="text" placeholder="Email" name="email" value="{{ request.form.user_login }}"><br><br>
            <input type="password" placeholder="Password" name="password" value="{{ request.form.user_password }}">
            <br>
            <br>
            <button class="button" style="float:left; margin:10px" >Login</button>
            <div class="field">
                <label class="checkbox" style="float:left; margin:10px" >
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </form>
    </div>
</div>
{% endblock %}
