{% extends "main.html" %}
{% block content %}
<div class="container">
    <h2 class="title">Login</h2>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <form action="" method="POST">
        <input type="text" placeholder="Username" name="user_login" value="{{ request.form.user_login }}">
        <input type="password" placeholder="Password" name="user_password" value="{{ request.form.user_password }}">
        <br>
        <br>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox">Remember me
            </label>
        </div>
        <br>
        <button class="button">Login</button>
    </form>
</div>
{% endblock %}
