<!DOCTYPE html>
<html>
    <div class="snow"></div>
    <header>
        <title>Hello Santa!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://kit.fontawesome.com/ea65c60162.js" crossorigin="anonymous"></script>
    </header>
    <body>
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <a href="   {{ url_for('main.index') }}" class=" navbar-item">
                        <span class="icon">
                            <i class="fas fa-home"></i>&nbsp;
                        </span>
                        Home
                    </a>
                    <a href="{{ url_for('groups.index') }}" class="navbar-item">
                        Groups
                    </a>
                    <a href="https://github.com/burningskies42" class="navbar-item">
                        Contact me
                    </a>

                    <div class="navbar-item navbar-end dropdown is-hoverable">
                        {% if current_user.is_authenticated %}
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{current_user.name}}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="{{ url_for('users.profile') }}" class="dropdown-item">
                                    Profile
                                </a>
                                <a href="{{ url_for('users.edit') }}" class="dropdown-item">
                                    Settings
                                </a>
                                <hr class="dropdown-divider">
                                <a href="{{ url_for('auth.logout') }}" class="dropdown-item">
                                    Logout
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <i class="fas fa-user"></i>&nbsp;
                            <span>Login / Register</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="{{ url_for('users.signup') }}" class="dropdown-item">
                                    Register
                                </a>
                                <hr class="dropdown-divider">
                                <a href="{{ url_for('auth.login') }}" class="dropdown-item">
                                    Login
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="content-wrap"  id="wrapper">
            <div class="container">
                <h2 class="title">{{title}}</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                <br>
                {% if messages %}
                {% for category, message in messages %}
                <div class="notification {{ category }} is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>&copy; 2020 BurningSkies_1337 GmbH</p>
            </div>
        </footer>
    </body>
</html>
