{% extends "main.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    <br>
    <br>
{% endif %}
{% endwith %}
<div class="column is-5 is-offset-3">
    <h3 class="title">Sign Up</h3>
        <form method="POST" action="/signup">
            <input type="text" placeholder="Name" name="name"  value="{{ request.form.name }}"><br><br>
        
            <input type="text" placeholder="Address" NAME="address" value="{{ request.form.address }}"><br><br>
        
            <input type="text" placeholder="Email" name="email" value="{{ request.form.email }}"><br><br>
        
            <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}"><br><br>
        
            <input type="submit" value="Enter">
        </form>
</div>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
{% endblock %}
